{% extends "bootstrap/base.html" %}

{% block title %}Twitterアカウント同士のフォロー関係をチェックします{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<li class="{{ category }}">{{ message }}</li>
{% endfor %}
{% endif %}
{% endwith %}

まだうごかないよ
<form method="POST" action="/">
    <div>{{ form.user_id_1.label }}: @{{ form.user_id_1(class="input-group-text") }}
    </div>
    <div>{{ form.user_id_2.label }}: @{{ form.user_id_2(class="input-group-text") }}
    </div>
    <div>{{ form.submit(class="btn btn-info") }}</div>
</form>

{% if results %}
{% for result in results %}
<li>{{ result }}</li>
{% endfor %}
{% endif %}

{% endblock %}